<h1>Vehsmart Registration</h1>

<div id="login_form_container">

	<table class="form_table">
		<tr>
			<td colspan="2">
				Thank you. You should receive your account creation email shortly... (Need text here)
			</td>
		</tr>
		<tr>
			<td colspan="2">
				You may <a href="/login">login here</a>.
			</td>
		</tr>
	
	</table>
</div>
