<h3>Simcom Gateway Overview</h3>
  
<ul class="list">
	<li><%= @total_devices %> <strong>Simcom Devices</strong> - <a href="/simcom/device/list">view</a></li>
	<li><%= @total_requests %> <strong>Simcom Command Requests</strong> - <a href="/simcom/command_request/list">view</a></li>
</ul>