<table class="panel_table" >
	<%= render :partial => 'device_summary_header',:locals =>{:column_span => 6,:sub_heading => nil} %>
	<tr>
	  <th>Name</th>
	  <th>&nbsp;</th>
	  <th>Last Location</th>
	  <th>Speed (mph)</th>
	  <th>RPMs</th>
	  <th>Last Report</th>
	</tr>
	<%= render :partial => "group_rows",:locals => {:column_span => 6,:callback => "show_device"} %>
</table>