<h3>Edit An Emergency Contact For Driver '<%= @driver.name %>'</h3>
<%= render :partial=>"/layouts/flash_message" %>    

<form action="/emergency/edit_contact/<%= @contact.id %>" method="post">
	<table class="form_table">
		<%= render :partial => 'contact_form' %>
		<tr>
			<td colspan="2" align="right"><input type="submit" value="update" />&nbsp;&nbsp;<a href="/emergency/contacts/<%= @driver.id %>">cancel </a></td>
		</tr>
	</table>
</form>