<br/><br/><br/>
<div id="footer">
	<a href="http://www.celaccess.com/privacy" target="_blank">Privacy</a> | 
	<a href="http://www.celaccess.com/terms" target="_blank">Terms &amp; Conditions</a> | 
	<a href="http://www.celaccess.com/contactus" target="_blank" class="link-all2">Contact</a><br /><br />
	&copy; 2009 CelAccess Systems 
</div>
