<h3>Editing Device</h3>

<%= render :partial=>"/layouts/flash_message"%>    

<form method="post" class="form" action="/admin/devices/update<% if params[:account_id] %>?account_id=<%= params[:account_id] %><% end %>">
	<%= render :partial => "device_form" %>
</form>

<script language="javascript" type="text/javascript">
	window.onload = function() {
		document.getElementById("device").focus();
	}
</script>