<% form_remote_tag(:url =>{:controller => 'home', :action => 'update_now',:id => device.id},:html => {:name => "update_now_form_#{device.id}"}) do %>
	<input type="submit" class="blue_button" style="width:100%" value="<%= 'Update Now'.t %>"/>
<% end %>
