<script>
var frm_index = false;
</script>
<table class="panel_table" >
  <%= render :partial => 'notifications_summary_header',:locals => {:column_span => 5,:sub_heading => nil} %>
  <tr>
<th>Name</th>	  
    <th>Current Active Notifications</th>
<th>Due</th>
    <th>Status</th>
</tr>           
<%= render :partial => "group_rows",:locals => {:column_span => 5,:callback => "show_notifications"} %>
</table>

